.tiptap {
  :first-child {
    margin-top: 0;
    outline: 2px solid transparent;
    outline-offset: 2px;
  }

  blockquote {
    border-left: 3px;
    border-color: aqua;
    // margin: 1.5rem 0;
    padding-left: 1rem;
  }
}